.wrapper,
.page-wrapper {
    margin: 0 auto;
    max-width: 1600px;
}
.page-wrapper {
    padding-top: 3em;
}

.text-block {
    padding: 6%;
}

.content-block {
    padding: 0 6%;
}

.content-block img,
.text-block img {
    display: block;
    width: 100%;
}

.underline,
.text-block p a,
.text-block .big-text a,
.content-block p a,
.content-block .big-text a {
    background: linear-gradient(#000 50%, #f7f5e9 50%);
    background-position: 0 0.92em;
    background-repeat: repeat-x;
    background-size: 1px 15%;
    display: inline;
    text-shadow: 0.03em 0 #000, -0.03em 0 #000, 0 0.03em #000, 0 -0.03em #000, 0.06em 0 #000,
        -0.06em 0 #000, 0.09em 0 #000, -0.09em 0 #000, 0.12em 0 #000, -0.12em 0 #000;
}

.light {
    background: #f7f5e9;
    color: #000;
}

.light .underline,
.light .text-block p a,
.light .text-block .big-text a,
.light .content-block p a,
.light .content-block .big-text a {
    background: linear-gradient(#f7f5e9 50%, #000 50%);
    text-shadow: 0.03em 0 #f7f5e9, -0.03em 0 #f7f5e9, 0 0.03em #f7f5e9, 0 -0.03em #f7f5e9, 0.06em 0 #f7f5e9,
        -0.06em 0 #f7f5e9, 0.09em 0 #f7f5e9, -0.09em 0 #f7f5e9, 0.12em 0 #f7f5e9, -0.12em 0 #f7f5e9;
}

.text-block .strong a,
.content-block .strong a {
    background-position: 0 0.96em;
}

.title-block {
    margin: 0.2em 0;
}
.title-block h1,
.title-block h2,
.title-block h3,
.title-block h4 {
    margin: 0;
}
.title-block.has-margin {
    margin-bottom: 0.3em;
}

.limit-width {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.border {
    border: 0.6em solid rgba(255, 255, 255, 0.05);
}
body.light .border {
    border-color: rgba(0, 0, 0, 0.05);
}

.padded {
    padding: 3%;
}

.offset {
    padding-top: 6%;
}
.offset-large {
    padding-top: 12%;
}

.offset-negative {
    margin-top: -6%;
}

.indented {
    padding-left: 6%;
}

.centered {
    text-align: center;
}
.centered img {
    margin-left: auto;
    margin-right: auto;
}

.right-align {
    text-align: right;
}
.right-align img {
    margin-left: auto;
}

.offscreen {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.no-bullets {
    list-style: none;
    margin-left: 0;
}
.row {
    list-style: none;
    margin-bottom: 0;
    margin-left: -3%;
}
