html {
    height: 100%;
}

body {
    background: #000;
    color: #f7f5e9;
    font-family: 'GT Haptik', 'Arial Black', sans-serif;
    font-size: 30px;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

strong,
.strong {
    font-weight: bold;
}

.stronger {
    font-weight: 900;
}

em,
.em {
    font-style: italic;
}

p,
figcaption {
    line-height: 1.4;
    margin: 0 0 0.8em;
}

img,
ul {
    margin-bottom: 0.8em;
}

ul {
    list-style-position: inside;
}

h1,
h2,
h3,
h4 {
    margin: 0.2em 0;
}

.container {
    min-height: 2.5em;
    position: relative;
    width: 100%;
}
