.container {
    composes: col col5 from global;
    pointer-events: none;
    position: relative;
}

.wrapper {
    background: no-repeat url('../../../shared/images/supertunes-sprite.png') 0 0;
    background-size: 200% 100%;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
}

.curtains {
    background: no-repeat url('../../../shared/images/supertunes-sprite.png') 100% 0;
    background-size: 200% 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dixie {
    animation: dixieKong 3s ease-in-out 0s infinite alternate;
    background: no-repeat url('../../../shared/images/dixie-kong.gif') center center;
    background-size: contain;
    height: 25%;
    left: 25%;
    position: absolute;
    top: 25%;
    width: 50%;
}

.godzilla {
    background: no-repeat url('../../../shared/images/godzilla.gif') left bottom;
    background-size: contain;
    bottom: 16%;
    height: 40%;
    position: absolute;
    right: -5%;
    width: 40%;
}

@keyframes dixieKong {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}
